@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  font-size: calc(15px + 0.390625vw);
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* css for toast-notification */
.Toastify__toast {
  border-radius: 1rem;
}

.Toastify__toast-container {
  min-width: fit-content;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px) {
  /* CSS of toast-notification for tablet devices  */
  .Toastify__toast-container {
    top: 3rem;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {
  /* CSS of toast-notification for mobile devices  */
  .Toastify__toast-container {
    max-width: 80vw;
    min-width: fit-content;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
